body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#adminHeader {
    /* background: rgba(211,211,211,0.19); */
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

#about {
    float: left;
    height: 450px;
    width: 700px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 140px;
    font-weight: 300;
    font-style: italic;
    opacity: 0.7;
}

#login {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 500px;
    width: 600px;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(252, 249, 249);
    padding-top: 50px;
    padding-left: 70px;
    background: rgba(211, 211, 211, 0.19);
}
#input {
    margin-right: 200px;
}
.center {
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    text-align: left;
    font-family: 'Segoe UI';
  }